:root {
  --primary: #c271ff;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 22px;
  font-size: 0.6rem;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.carousel-control-next-icon {
  background-image: url("./images/arrow_white_right.png");
}

.carousel-control-prev-icon {
  background-image: url("./images/arrow_white_left.png");
}

.carrousel-content {
  padding: 1rem 4rem;
}

.carrousel-content-black .carousel-control-next-icon {
  background-image: url("./images/arrow_black_right.png");
}

.carrousel-content-black .carousel-inner {
  padding: 2rem 6rem;
}

.carrousel-content-black .carousel-control-prev-icon {
  background-image: url("./images/arrow_black_left.png");
}

.carrousel-content-black .carousel {
  width: 100%;
}

.carrousel-content-black .slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .carrousel-content-black .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .carrousel-content-black .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px) {
  .carrousel-content-black .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carrousel-content-black .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0.5rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 20px;
  height: 40px;
}
.text-primary {
  color: var(--primary) !important;
}

p.small-text-p {
  font-size: 0.7rem;
}

.stars {
  width: 15px;
}

.button-play-container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 125px;
  width: 4rem;
}


.social-item {
  list-style: none;
}

.social-link > svg {
  fill: white;
}

.header-row {
  border-bottom: 1px solid gray;
}

.header i {
  color: rgb(127, 190, 31);
}

.form-control {
  background-color: rgb(226, 179, 235);
  color: white;
}


.profile-img {
  width: 200px;
  max-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 125px;
}

.small-profile-img {
  width: 60px;
  min-height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 125px;
}

.view {
  min-height: 100vh;
}

.top-nav-collapse {
  background-color: transparent !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:hover {
  border-color: transparent !important;
}

.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:hover {
  outline: 1px transparent !important;
}

.navicon {
  background: #ffffff;
  display: block;
  width: 1rem;
  height: 0.17rem;
  position: absolute;
  transition: background 0.2s ease-out;
  margin-bottom: 10px;
}

.navicon::before,
.navicon::after {
  content: "";
  display: block;
  width: 150%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  transition: all 0.2s ease-out;
}

.navicon::before {
  top: 0.7rem;
}

.navicon::after {
  top: -0.7rem;
}

.big-text {
  font-size: 5rem;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  .big-text {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .navbar-icon-detail {
    margin-top: 1rem;
  }
  .navbar-icon-detail .navbar-brand {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar-collapse {
    margin-top: 1.5rem;
  }
}
